.button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.6rem;
  width: 4.6rem;
  background: var(--ink);
  color: var(--bg);
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: all .3s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.button:hover {
  background: var(--accent);
}
